body{
  height:100%;
  width: 100%;
}
/* grid styling */
polygon {
    transition: 0.5s;
    cursor: pointer;
    fill: #3f406a;
  }
  #Buttons{
    transition: 0.5s;
    cursor: pointer;
    fill: #76b7c2;
  }
  polygon #Buttons:hover{
    fill: #3f406a;
  }
  .pod-wrap polygon:hover {
    fill: #76b7c2;
  }

  /* other styling */
  svg {
    width: 100%;
    height: 100%;
    flex: 1;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-weight: 700;
    font-family: sans-serif;
  }
  a {
    color: #ccc;
    padding: 10px;
    text-decoration: none;
    transition: color 0.4s;
  }
  a:hover {
    color: #333;
  }


 
 #low {
    fill: #58a4de;
 }
 
 #medium {
    fill: #52c5a7;
 }
 
 #high {
    fill: #d44646;
 }
